/*-------------------------------- Sass  */
/*----------------- COLORS  */
/*$headerColor: rgba(255,198,39,0.6);*/
/*----------------- FONTS  */
/*----------------- DIMS  */
/*----------------- Mixins */
/* Turn numbers with units into unitless numbers: https://github.com/nex3/sass/issues/533 */
/*--------------------------------  */
html, body {
  min-width: 100%;
  height: 100%;
  color: #333e48;
  font-size: 15px;
  font-family: "franklin-gothic-urw",sans-serif;
  font-style: normal;
  background-color: #FFF; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input.custom-focus,
select.custom-focus,
textarea.custom-focus,
button.custom-focus {
  outline: #ffa227 solid 2px; }

section {
  display: block;
  float: left;
  min-width: 100%; }

h1 {
  font-size: 2.13333em;
  font-weight: 900;
  line-height: 1em; }

.large h1 {
  font-size: 3em;
  font-weight: 900; }

h2 {
  font-size: 1.66667em;
  font-weight: 900; }

.large h2 {
  font-size: 2.2em;
  font-weight: 900; }

h3 {
  font-size: 1em;
  font-weight: 600; }

.large h3 {
  font-size: 1.33333em;
  font-weight: 600; }

h4 {
  font-size: 0.8em;
  font-weight: 900; }

p {
  font-weight: 400; }

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

div {
  -webkit-tap-highlight-color: transparent; }

ul {
  list-style: none; }

input {
  padding: 8px 12px;
  font-size: 0.8em;
  color: #586069;
  letter-spacing: 0.13333em;
  font-weight: 400;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  font-family: "franklin-gothic-urw-n4","franklin-gothic-urw",sans-serif;
  font-style: italic;
  letter-spacing: 0.13333em;
  height: 30px;
  border: 1px solid #333e48; }

.large input {
  font-size: 1em; }

textarea {
  padding: 8px 12px;
  font-size: 0.8em;
  color: #586069;
  letter-spacing: 0.13333em;
  font-weight: 400;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  font-family: "franklin-gothic-urw-n4","franklin-gothic-urw",sans-serif;
  font-style: italic;
  letter-spacing: 0.13333em;
  height: 76px;
  border: 1px solid #333e48; }

::-webkit-input-placeholder {
  color: #586069; }

:-moz-placeholder {
  color: #586069; }

::-moz-placeholder {
  color: #586069; }

:-ms-input-placeholder {
  color: #586069; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

#main {
  min-width: 100%;
  height: 100%; }

.corporate {
  position: absolute;
  visibility: hidden;
  min-width: 100%;
  height: 100%;
  z-index: 100; }

.content-sect {
  float: left;
  min-width: 100%; }

#pane-container {
  float: left;
  min-width: 100%;
  -webkit-tap-highlight-color: transparent; }

.shadow-bordered {
  border-bottom: 5px solid #ffa227; }

.shadow-bordered-lt-blue {
  border-color: #bdd0ff; }

.shadow-bordered-blue {
  border-color: #a1b3ff; }

.content {
  width: 290px;
  margin: 0 auto;
  /*-webkit-transform: translate3d(0,0,0); 
  -moz-transform: translate3d(0,0,0); 
  -o-transform:translate3d(0,0,0); 
  transform:translate3d(0,0,0);*/ }

.large .content {
  width: 580px; }

.row {
  width: 100%;
  float: left; }

.col {
  float: left; }

.col.col-right {
  float: right;
  margin-right: 0; }

.bg-gold {
  background-color: #fceec9; }

.col.end {
  margin-right: 0 !important; }

.inner-full-col {
  width: 250px;
  margin: 0 auto; }

.large .inner-full-col {
  width: 464px; }

.inner-full-col-sm {
  width: 250px; }

.large .inner-full-col-sm {
  width: 444px; }

.btn-form {
  float: left;
  height: 30px;
  display: block;
  padding: 8px 0;
  font-family: "franklin-gothic-urw-n7","franklin-gothic-urw",sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }

.btn-blue {
  border: 1px solid #333e48;
  background-color: #bdd0ff;
  color: #333e48; }

.btn-blue.tappable-active {
  background-color: #e7ebf3; }

.spacer {
  float: left;
  width: 100%;
  height: 1px;
  border-top: 1px solid #333e48; }

.spacer.shadow-bordered {
  float: left;
  width: 100%;
  height: 6px;
  border-top: 1px solid #333e48; }

.scroller {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.scroller-content {
  width: 100%; }

/*-------------------------------- HEADER  */
#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 100%;
  background-color: #ffa227;
  border-bottom: 1px solid #333e48;
  z-index: 200; }

.header-trans {
  -webkit-transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.h-logo {
  margin: 8px auto 8px auto;
  width: 8.4em;
  height: 1.13333em;
  background: transparent url(../../images/corporate/png/header-logo-condensed.png) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain; }

.hires .h-logo {
  background-image: url(../../images/corporate/png/header-logo-condensed@2x.png);
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain; }

/*-------------------------------- MENU  */
.menu {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.menu.top-bordered {
  border-top: 1px solid #333e48; }

.nav-cnt {
  /*position: absolute;
  top: 0; left: -100%;*/
  float: left;
  max-width: 350px;
  border-bottom: 1px solid #333e48;
  border-right: 1px solid #333e48; }

.nav-cnt .header {
  float: left;
  width: 100%;
  height: 36px;
  background-color: #ffa227;
  border-bottom: 1px solid #333e48; }

.nav-cnt .main-nav {
  margin: 0;
  float: left;
  list-style: none; }

.nav-cnt .main-nav li {
  float: left;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #333e48; }

.nav-cnt .main-nav li a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e7ebf3;
  color: #333e48;
  padding: 8px 12px; }

.nav-cnt .main-nav li a.tappable-active {
  background-color: #f6f6f9; }

.nav-cnt .main-nav li:nth-child(even) a {
  background-color: #FFF; }

.nav-cnt .main-nav li:nth-child(even) a.tappable-active {
  background-color: #f6f6f9; }

.nav-cnt .social-nav-cnt {
  float: left;
  width: 100%;
  height: 36px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.nav-cnt .social-nav-cnt .header {
  display: block;
  background-color: #FFF;
  border-bottom: none;
  padding: 8px 12px;
  color: #333e48; }

.nav-cnt .social-nav-cnt .header.tappable-active {
  background-color: #f6f6f9; }

.nav-cnt .arrow {
  float: right;
  margin-top: 5px;
  -o-transform: rotate(90deg);
  -moz-background-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.nav-cnt .arrow.arrow-up {
  -o-transform: rotate(-90deg);
  -moz-background-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.nav-cnt .social-nav {
  float: left;
  width: 100%;
  border-top: 3px solid #e7ebf3; }

.nav-cnt .social-nav li {
  float: left;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #e7ebf3; }

.nav-cnt .social-nav li a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f6f6f9;
  padding: 6px 12px; }

.nav-cnt .social-nav li a.tappable-active {
  background-color: #e7ebf3; }

.social-nav-cnt-transition-h {
  -webkit-transition: height 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: height 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: height 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: height 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo*/
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */ }

.menu-transition {
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo*/
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */ }

.icon {
  display: block;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain; }

.icon-twitter {
  width: 1.2em;
  height: 1em;
  background: transparent url(../../images/corporate/svg/header-twitter.svg) no-repeat; }

.no-svg .icon-twitter {
  background-image: url(../../images/corporate/png/header-twitter.png); }

.icon-facebook {
  width: 1em;
  height: 1em;
  background: transparent url(../../images/corporate/svg/header-facebook.svg) no-repeat; }

.no-svg .icon-facebook {
  background-image: url(../../images/corporate/png/header-facebook.png); }

.icon-instagram {
  width: 1em;
  height: 1em;
  background: transparent url(../../images/corporate/svg/header-instagram.svg) no-repeat; }

.no-svg .icon-instagram {
  background-image: url(../../images/corporate/png/header-instagram.png); }

.menu .btn-nav-cnt {
  float: left;
  width: 36px;
  height: 36px; }

.menu .btn-nav {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333e48;
  border-right: 1px solid #333e48;
  border-top: none;
  border-left: none; }

.arrow {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.arrow {
  width: 13px;
  height: 9px; }

.menu .btn-nav .arrow {
  position: absolute;
  top: 12px;
  left: 11px; }

.menu .arrow.arrow-left {
  -o-transform: rotate(-180deg);
  -moz-background-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.arrow-transition {
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

/*-------------------------------- FOOTER  */
#footer {
  float: left;
  width: 100%;
  background-color: #ffc627;
  border-top: 5px solid #ffa227; }

#footer .btn-up {
  width: 16px;
  height: 16px;
  display: block;
  margin: 6px auto 25px auto; }

/*-------------------------------- PANES  */
.pane {
  float: left;
  min-width: 100%; }

.pane-title {
  width: 140px;
  margin: 0 auto;
  background-color: #333e48;
  padding: 3px 8px;
  text-align: center;
  color: #FFF;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 0.1em; }

.pane-scroll-transition {
  -webkit-transition: left 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: left 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: left 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: left 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

/*------------------------- MethodPane  */
#method-pane {
  background-color: #ffc627;
  min-height: 450px;
  overflow: hidden; }

.large #method-pane {
  background-color: #ffc627;
  min-height: 600px; }

#method-pane .inner-full-col {
  height: 345px;
  position: relative; }

.large #method-pane .inner-full-col {
  height: 375px;
  position: relative; }

#method-pane h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 1.93333em;
  line-height: 1em; }

.large #method-pane h1 {
  font-size: 3em; }

#method-pane h3 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: left; }

.large #method-pane h3 {
  position: absolute;
  font-size: 1.6em;
  top: 110px;
  left: 0;
  width: 100%;
  text-align: left; }

#method-pane .input-container {
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  height: 81px;
  margin: 0 auto; }

.large #method-pane .input-container {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  height: 81px;
  margin: 0 auto; }

#method-pane textarea {
  width: 100%; }

#method-pane .shadow-bordered-blue {
  margin: 0 auto;
  position: absolute;
  top: 270px;
  left: 0; }

.large #method-pane .shadow-bordered-blue {
  margin: 0 auto;
  position: absolute;
  top: 290px;
  left: 0; }

#method-pane .btn-ask {
  width: 100%; }

#method-pane .btn-arrow-container {
  margin: 0 auto;
  position: absolute;
  top: 300px;
  left: 0; }

.large #method-pane .btn-arrow-container {
  margin: 0 auto;
  position: absolute;
  top: 330px;
  left: 0; }

#method-pane .btn-down {
  width: 16px;
  height: 19px;
  display: block;
  margin: 24px auto 0 auto; }

#method-pane .spacer {
  position: absolute;
  top: 100%;
  left: 0; }

#method-pane .shadow-bordered-blue {
  height: 35px; }

.method-content-trans {
  -webkit-transition: top 2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: top 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: top 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: top 2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

/*------------------------- HowPane  */
/*#how-pane{
	height: 450px;
}*/
#how-pane #img-how {
  width: 158px;
  height: 169px;
  display: block;
  margin: 48px auto 24px auto; }

.large #how-pane #img-how {
  width: 210px;
  height: 225px;
  margin: 48px auto; }

#how-pane h3 {
  margin: 0 auto 48px auto; }

.large #how-pane h3 {
  margin: 48px auto; }

#how-pane p {
  font-weight: 300;
  margin-bottom: 48px; }

/*------------------------- WorkPane  */
/*#work-pane{
	height: 750px;
}*/
#work-pane .inner-full-col-sm.video-container {
  background-color: #333e48;
  height: 340px;
  margin: 0 auto 60px auto;
  border: 1px solid #333e48; }

.large #work-pane .inner-full-col-sm.video-container {
  margin: 0 auto 60px auto; }

.large #work-pane .inner-full-col-sm.video-container {
  height: 535px; }

#work-pane .inner-full-col iframe {
  position: relative;
  z-index: 100; }

#work-pane .msg {
  margin: 48px 0 12px 0; }

.large #work-pane .msg {
  margin: 60px 0 24px 0; }

#work-pane .msg p {
  margin-bottom: 12px; }

.large #work-pane .msg p {
  margin-bottom: 3px; }

/*------------------------- TeamPane  */
/*#team-pane{
	height: 800px;
}*/
#team-pane .pane-title {
  margin-top: -20px; }

#team-pane p {
  float: left;
  width: 224px; }

.large #team-pane p {
  width: 514px;
  font-weight: 300; }

#team-pane ul {
  margin: 60px 0; }

.large #team-pane ul {
  margin: 60px 0; }

.role {
  padding-bottom: 24px;
  border-bottom: 1px solid #ffa227;
  margin: 0 0 24px 0; }

.role.bottom {
  border-bottom: none;
  margin-bottom: 8px; }

.icon-role {
  float: left;
  width: 50px;
  height: 50px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin-right: 16px; }

.icon-creative-director {
  background: transparent url(../../images/corporate/svg/team-icon-creativedirector.svg) no-repeat; }

.no-svg .icon-creative-director {
  background-image: url(../../images/corporate/png/team-icon-creativedirector.png); }

.icon-front-end {
  background: transparent url(../../images/corporate/svg/team-icon-frontend.svg) no-repeat; }

.no-svg .icon-front-end {
  background-image: url(../../images/corporate/png/team-icon-frontend.png); }

.icon-art-director {
  background: transparent url(../../images/corporate/svg/team-icon-artdirector.svg) no-repeat; }

.no-svg .icon-art-director {
  background-image: url(../../images/corporate/png/team-icon-artdirector.png); }

.icon-programmer {
  background: transparent url(../../images/corporate/svg/team-icon-programmer.svg) no-repeat; }

.no-svg .icon-programmer {
  background-image: url(../../images/corporate/png/team-icon-programmer.png); }

.icon-copy-writer {
  background: transparent url(../../images/corporate/svg/team-icon-copywriter.svg) no-repeat; }

.no-svg .icon-copy-writer {
  background-image: url(../../images/corporate/png/team-icon-copywriter.png); }

.icon-proj-manager {
  background: transparent url(../../images/corporate/svg/team-icon-projmanger.svg) no-repeat; }

.no-svg .icon-proj-manager {
  background-image: url(../../images/corporate/png/team-icon-projmanger.png); }

/*------------------------- DisciplinesPane  */
/*#disciplines-pane{
	height: 450px;
}*/
.col-3 {
  width: 51.33333px;
  margin-right: 48px; }

#disciplines-pane .pane-title {
  margin-top: -20px; }

#disciplines-pane .msg {
  margin: 60px 0 24px 0; }

.large #disciplines-pane .msg {
  margin: 60px 0 24px 0; }

#disciplines-pane .inner-full-col {
  margin: 0 auto 66px auto; }

#disciplines-pane li:before {
  content: "+";
  margin-right: 16px;
  color: #ffc627; }

#disciplines-pane li {
  margin-bottom: 8px; }

/*------------------------- ContactPane  */
/*#contact-pane{
	height: 1100px;
}*/
#contact-pane .sm-col {
  width: 140px;
  margin: 60px 8px 0 0; }

.large #contact-pane .sm-col {
  width: 150px;
  margin: 60px 48px 0 0; }

#contact-pane .inner-full-col-sm {
  /*margin: 0 auto;*/
  float: left;
  width: 290px;
  margin-left: 12px; }

.large #contact-pane .inner-full-col-sm {
  width: 356px; }

#contact-pane {
  background-color: #e7ebf3;
  border-top: 1px solid #333e48;
  border-bottom: 1px solid #333e48; }

#contact-pane .pane-title {
  margin-top: -20px; }

#contact-pane .map {
  width: 100%;
  height: 360px;
  background-color: #FFF;
  border: 1px solid #333e48;
  margin: 16px 0 16px 0; }

.large #contact-pane .map {
  margin: 24px 0 24px 0; }

#contact-pane .inner-full-col-lg {
  margin: 48px auto; }

#contact-pane .inner-full-col {
  margin: 0 auto; }

#contact-pane .btn-addr {
  float: left;
  margin: 0 -12px 4px;
  padding: 2px 8px;
  color: #333e48;
  border: 1px solid transparent; }

#contact-pane .btn-addr.active {
  background-color: #FFF;
  border: 1px solid #333e48; }

p.addr {
  font-size: 0.73333em; }

.large p.addr {
  font-size: 0.8em; }

#contact-pane .sm-col#mad-south-addr {
  margin-left: 0; }

#contact-pane .msg {
  text-align: left;
  margin-bottom: 24px; }

.large #contact-pane .msg {
  margin-bottom: 48px; }

#contact-pane .msg h2 {
  margin-bottom: 4px; }

#contact-pane .input-container {
  height: 53px;
  color: #586069;
  margin-bottom: 12px; }

#contact-pane .input-container p {
  font-size: 0.8em;
  margin-bottom: 4px; }

#contact-pane .input-container.input-container-ta {
  height: 119px; }

#contact-pane textarea {
  height: 96px;
  border: 1px solid #333e48; }

#contact-pane .btn-submit {
  margin-top: 16px; }

#contact-pane .notice-col {
  height: 0;
  margin-top: 24px; }

#contact-pane .padding-row {
  margin-bottom: 48px; }

.notice {
  float: left;
  width: 100%;
  text-align: left; }

#contact-pane p.notice {
  font-size: 0.73333em; }

.large #contact-pane p.notice {
  font-size: 1em; }

#contact-pane .notice.error-msg {
  color: #ffa227;
  font-weight: 900; }
